00_RAW/*
01_GENEMARK/*
02_DE-HOST/*.fasta
03_GENE-PRED/*
04_Ht-GENE/
prot.accession2taxid.gz
05_DIAMOND/
07_CLEAN/
08_BUSCO/
09_CLEAN-GENES/
busco_downloads/
10_FASTA-GENES/
12_BUSCO-ORTHO/BUSCO_Ht-clean.faa/
12_BUSCO-ORTHO/BUSCO_Pb-clean.faa/
12_BUSCO-ORTHO/BUSCO_Pc-clean.faa/
12_BUSCO-ORTHO/BUSCO_Pf-clean.faa/
12_BUSCO-ORTHO/BUSCO_Pk-clean.faa/
12_BUSCO-ORTHO/BUSCO_Pv-clean.faa/
12_BUSCO-ORTHO/BUSCO_Py-clean.faa/
12_BUSCO-ORTHO/BUSCO_Tg-clean.faa/
DB/*
